Django==1.11.7
django-cors-headers==2.1.0
django-filter==1.1.0
django-graphiql==0.4.4
django-js-asset==0.1.1
django-mptt==0.9.0
django-templated-mail==1.0.0
djangorestframework==3.7.7
djoser==1.1.1
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
idna==2.6
inflect==0.2.5
inflection==0.3.1
iso8601==0.1.12
Markdown==2.6.9
numpy==1.13.3
olefile==0.44
pandas==0.21.0
Pillow==9.0.1
promise==2.1
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
Rx==1.6.0
six==1.11.0
typing==3.6.4
urllib3==1.22
